<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.blog.mbg.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.blog.mbg.entity.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="commentcol" jdbcType="VARCHAR" property="commentcol" />
    <result column="is_delete" jdbcType="LONGVARBINARY" property="isDelete" />
    <result column="is_review" jdbcType="LONGVARBINARY" property="isReview" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bl_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.blog.mbg.entity.Comment">
    insert into bl_comment (id, blog_id, user_id, 
      reply_user_id, parent_id, create_time, 
      update_time, comment_content, commentcol, 
      is_delete, is_review)
    values (#{id,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{replyUserId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{commentContent,jdbcType=VARCHAR}, #{commentcol,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=LONGVARBINARY}, #{isReview,jdbcType=LONGVARBINARY})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.blog.mbg.entity.Comment">
    update bl_comment
    set blog_id = #{blogId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      reply_user_id = #{replyUserId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      commentcol = #{commentcol,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=LONGVARBINARY},
      is_review = #{isReview,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, blog_id, user_id, reply_user_id, parent_id, create_time, update_time, 
    comment_content, commentcol, is_delete, is_review
    from bl_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, blog_id, user_id, reply_user_id, parent_id, create_time, update_time, 
    comment_content, commentcol, is_delete, is_review
    from bl_comment
  </select>
</mapper>