<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.mogu.blog.mbg.mapper.TCommentReportMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.mogu.blog.mbg.entity.TCommentReport">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="user_uid" jdbcType="VARCHAR" property="userUid" />
    <result column="report_comment_uid" jdbcType="VARCHAR" property="reportCommentUid" />
    <result column="report_user_uid" jdbcType="VARCHAR" property="reportUserUid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_comment_report
    where `uid` = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.mogu.blog.mbg.entity.TCommentReport">
    insert into t_comment_report (`uid`, user_uid, report_comment_uid, 
      report_user_uid, content, progress, 
      `status`, create_time, update_time
      )
    values (#{uid,jdbcType=VARCHAR}, #{userUid,jdbcType=VARCHAR}, #{reportCommentUid,jdbcType=VARCHAR}, 
      #{reportUserUid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{progress,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.mogu.blog.mbg.entity.TCommentReport">
    update t_comment_report
    set user_uid = #{userUid,jdbcType=VARCHAR},
      report_comment_uid = #{reportCommentUid,jdbcType=VARCHAR},
      report_user_uid = #{reportUserUid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      progress = #{progress,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where `uid` = #{uid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select `uid`, user_uid, report_comment_uid, report_user_uid, content, progress, `status`, 
    create_time, update_time
    from t_comment_report
    where `uid` = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select `uid`, user_uid, report_comment_uid, report_user_uid, content, progress, `status`, 
    create_time, update_time
    from t_comment_report
  </select>
</mapper>