<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.mogu.blog.mbg.mapper.TPictureSortMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.mogu.blog.mbg.entity.TPictureSort">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="file_uid" jdbcType="VARCHAR" property="fileUid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="parent_uid" jdbcType="VARCHAR" property="parentUid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_picture_sort
    where `uid` = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.mogu.blog.mbg.entity.TPictureSort">
    insert into t_picture_sort (`uid`, file_uid, `name`, 
      `status`, create_time, update_time, 
      parent_uid, sort, is_show
      )
    values (#{uid,jdbcType=VARCHAR}, #{fileUid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{parentUid,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isShow,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.mogu.blog.mbg.entity.TPictureSort">
    update t_picture_sort
    set file_uid = #{fileUid,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      parent_uid = #{parentUid,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=BIT}
    where `uid` = #{uid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select `uid`, file_uid, `name`, `status`, create_time, update_time, parent_uid, sort, 
    is_show
    from t_picture_sort
    where `uid` = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select `uid`, file_uid, `name`, `status`, create_time, update_time, parent_uid, sort, 
    is_show
    from t_picture_sort
  </select>
</mapper>