<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.mogu.blog.mbg.mapper.TWebConfigMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.mogu.blog.mbg.entity.TWebConfig">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="record_num" jdbcType="VARCHAR" property="recordNum" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="ali_pay" jdbcType="VARCHAR" property="aliPay" />
    <result column="weixin_pay" jdbcType="VARCHAR" property="weixinPay" />
    <result column="github" jdbcType="VARCHAR" property="github" />
    <result column="gitee" jdbcType="VARCHAR" property="gitee" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="qq_group" jdbcType="VARCHAR" property="qqGroup" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="show_list" jdbcType="VARCHAR" property="showList" />
    <result column="login_type_list" jdbcType="VARCHAR" property="loginTypeList" />
    <result column="open_comment" jdbcType="VARCHAR" property="openComment" />
    <result column="open_mobile_comment" jdbcType="BIT" property="openMobileComment" />
    <result column="open_admiration" jdbcType="BIT" property="openAdmiration" />
    <result column="open_mobile_admiration" jdbcType="BIT" property="openMobileAdmiration" />
    <result column="link_apply_template" jdbcType="VARCHAR" property="linkApplyTemplate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_web_config
    where `uid` = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.mogu.blog.mbg.entity.TWebConfig">
    insert into t_web_config (`uid`, logo, `name`, 
      summary, keyword, author, 
      record_num, `status`, create_time, 
      update_time, title, ali_pay, 
      weixin_pay, github, gitee, 
      qq_number, qq_group, we_chat, 
      email, show_list, login_type_list, 
      open_comment, open_mobile_comment, open_admiration, 
      open_mobile_admiration, link_apply_template)
    values (#{uid,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{recordNum,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{aliPay,jdbcType=VARCHAR}, 
      #{weixinPay,jdbcType=VARCHAR}, #{github,jdbcType=VARCHAR}, #{gitee,jdbcType=VARCHAR}, 
      #{qqNumber,jdbcType=VARCHAR}, #{qqGroup,jdbcType=VARCHAR}, #{weChat,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{showList,jdbcType=VARCHAR}, #{loginTypeList,jdbcType=VARCHAR}, 
      #{openComment,jdbcType=VARCHAR}, #{openMobileComment,jdbcType=BIT}, #{openAdmiration,jdbcType=BIT}, 
      #{openMobileAdmiration,jdbcType=BIT}, #{linkApplyTemplate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.mogu.blog.mbg.entity.TWebConfig">
    update t_web_config
    set logo = #{logo,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      record_num = #{recordNum,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      ali_pay = #{aliPay,jdbcType=VARCHAR},
      weixin_pay = #{weixinPay,jdbcType=VARCHAR},
      github = #{github,jdbcType=VARCHAR},
      gitee = #{gitee,jdbcType=VARCHAR},
      qq_number = #{qqNumber,jdbcType=VARCHAR},
      qq_group = #{qqGroup,jdbcType=VARCHAR},
      we_chat = #{weChat,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      show_list = #{showList,jdbcType=VARCHAR},
      login_type_list = #{loginTypeList,jdbcType=VARCHAR},
      open_comment = #{openComment,jdbcType=VARCHAR},
      open_mobile_comment = #{openMobileComment,jdbcType=BIT},
      open_admiration = #{openAdmiration,jdbcType=BIT},
      open_mobile_admiration = #{openMobileAdmiration,jdbcType=BIT},
      link_apply_template = #{linkApplyTemplate,jdbcType=VARCHAR}
    where `uid` = #{uid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select `uid`, logo, `name`, summary, keyword, author, record_num, `status`, create_time, 
    update_time, title, ali_pay, weixin_pay, github, gitee, qq_number, qq_group, we_chat, 
    email, show_list, login_type_list, open_comment, open_mobile_comment, open_admiration, 
    open_mobile_admiration, link_apply_template
    from t_web_config
    where `uid` = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select `uid`, logo, `name`, summary, keyword, author, record_num, `status`, create_time, 
    update_time, title, ali_pay, weixin_pay, github, gitee, qq_number, qq_group, we_chat, 
    email, show_list, login_type_list, open_comment, open_mobile_comment, open_admiration, 
    open_mobile_admiration, link_apply_template
    from t_web_config
  </select>
</mapper>